<nav>
  <button routerLink="/cadastrados" class="nav-btn">Cadastrados</button>
  <button routerLink="/cadastro" class="nav-btn">Cadastrar</button>
</nav>

<main class="container">

  <section class="container-fluid layout">

    <table class="table table-bordered">

      <thead>

        <tr>
          <th scope="col" class="text-center">Modificações</th>
          <th scope="col" class="text-center">Hora</th>
          <th scope="col" class="text-center">Data</th>
          <th scope="col" class="text-center">Tipo</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let log of listaLogs; let i = index">
          <td class="text-center" *ngFor="let modificacao of log.modificacao">{{ modificacao }}</td>
          <td class="text-center">{{ log.hora }}</td>
          <td class="text-center">{{ log.data }}</td>
          <td class="text-center">{{ log.tipo }}</td>
        </tr>

      </tbody>

    </table>

    <button class="btn btn-danger" (click)="deletarLogs()">Limpar Logs</button>

  </section>

</main>